input,
select,
textarea {
    display: block;
}

#comment {
    width: 61%;
}

fieldset {
    border: 0px;
}

.container {
    padding: 2%;
    width: 30%;
    height: 60%;
    margin: 0 auto;
    border: 2px solid grey;
    background-color: lightgrey;
}

#yourname {
    background-color: antiquewhite;
}

#youremail {
    background-color: antiquewhite;
}

.div2,
.div3,
.div4,
.div5 {
    margin-top: 2%;
}

textarea {
    background-color: antiquewhite;
}

.button {
    padding: 7px;
    text-align: center;
    background-color: maroon;
    color: white;
}